//main: _all.scss

//1 to 128 step 2
$props: (margin, margin-top, margin-right, margin-bottom, margin-left,
padding, padding-top, padding-right, padding-bottom, padding-left);

@for $i from 1 through 128
{
    @each $prop in $props
    {
        .#{$prop}\(#{pow(2, $i)}px\)
        {
            #{$prop}: #{pow(2, $i)}px;
        }
    }
}

$props:
(
    align-content: (center, flex-start, flex-end, space-around, space-between, stretch),
    align-items: (baseline, center, flex-start, flex-end, stretch),
    display: (flex, grid),
    flex-direction: (row, column),
    flex-grow: (0, 1),
    justify-content: (center, flex-start, flex-end, space-around, space-between),
    margin: (auto, 0),
    margin-bottom: (auto, 0),
    margin-left: (auto, 0),
    margin-right: (auto, 0),
    margin-top: (auto, 0),
    padding: (auto, 0),
    padding-bottom: (auto, 0),
    padding-left: (auto, 0),
    padding-right: (auto, 0),
    padding-top: (auto, 0)
);

@each $prop, $values in $props
{
    @each $value in $values
    {
        .#{$prop}\(#{$value}\)
        {
            #{$prop}: #{$value};
        }
    }
}
