//main: ../main.scss

#footer
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	padding: 32px;
	margin-top: auto;

	> a
	{
		color: palette('background', '-1');
		transition: 0.5s all;

		&:hover
		{
			color: palette('magenta');
			transition: all 0.5s;
		}
	}
}
