//main: ../main.scss

#header
{
	position: sticky;
	top: 0;
	height: 48px;
	width: 100vw;
	padding: 0 20vw;
	background: palette('foreground');
	display: flex;
}

#logo
{
	display: flex;
	align-items: center;
	font-size: 24px;
	color: palette('blue');
	font-family: $font-secondary;
}

#search
{
	height: 28px;
	display: flex;
	align-self: center;
	margin-left: auto;
	background: palette('foreground', '1');
	border: 1px solid palette('foreground', '2');
	border-radius: 2px;
}

#search-icon
{
	width: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: palette('foreground', '3');
}

#search-input
{
	padding: 4px;
	color: white;
	outline: none;
	background: transparent;
	border: none;
}

#menu
{
	display: flex;
	align-items: center;
	font-size: 16px;
	margin-left: 8px;
}

.menu-button
{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 32px;
	width: 32px;
	border-radius: 3px;
	color: palette('foreground', '4');
	background: transparent;
	transition: 0.5s all;

	&:hover
	{
		color: palette('teal');
		background: palette('foreground', '1');
		transition: 0.5s all;
	}
}
