//main: ../main.scss

.panel
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	background: white;
	font-family: $font-primary;
	font-size: 13px;
	border-radius: 2px;
	break-inside: avoid;
	box-shadow: 0 1px 2px palette('background', '-1');
}

.panel-header
{
	display: flex;
	align-items: center;
	padding: 16px;
	height: 48px;
}

.panel-content
{
	display: flex;
	flex-grow: 1;
	overflow: hidden;
	padding: 16px;
	background: palette('background', '8');
	border-top: 1px solid palette('background', '6');
	border-bottom: 1px solid palette('background', '6');
}

.panel-footer
{
	display: flex;
	align-items: center;
	padding: 16px;
	height: 48px;
}
