//main: ../main.scss

.snippet
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	background: white;
	font-family: $font-primary;
	font-size: 13px;
	border-radius: 2px;
	break-inside: avoid;
	box-shadow: 0 1px 2px palette('background', '-1');
}

.snippet-header
{
	color: palette('foreground');
	display: flex;
	align-items: center;
	padding: 16px;
	height: 48px;
}

.snippet-content
{
	display: flex;
	flex-grow: 1;
	overflow: hidden;
	padding: 16px;
	background: palette('background', '8');
	border-top: 1px solid palette('background', '6');
	border-bottom: 1px solid palette('background', '6');
}

.snippet-footer
{
	display: flex;
	align-items: center;
	padding: 16px;
	height: 48px;
}

.snippet-footer-date
{
	margin-left: auto;
}

.snippet-footer-user
{
	margin-left: -4px;
	border: 1px solid palette('background', '4');
	border-radius: 3px;
	padding: 4px;
	display: flex;
	align-items: center;
}

.snippet-footer-user-avatar
{
	image-rendering: pixelated;
	margin-right: 4px;
}

.snippet-footer-user-nickname
{
	font-size: 12px;
}
