//main: ../main.scss

.snippet
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	background: palette('background', 'lighter');
	font-family: $font-primary;
	font-size: 13px;
	border-radius: 2px;
	break-inside: avoid;
	box-shadow: 0 1px 2px palette('background', 'dark');
}

.snippet-header
{
	display: flex;
	align-items: center;
	padding: 16px;
	height: 48px;
}

.snippet-content
{
	display: flex;
	flex-grow: 1;
	overflow: hidden;
	padding: 16px;
	border-top: 1px solid palette('background', 'light');
	border-bottom: 1px solid palette('background', 'light');
}

.snippet-footer
{
	display: flex;
	align-items: center;
	padding: 16px;
	height: 48px;
}
