//main: ../main.scss

.usertag
{
	border: 1px solid palette('foreground', '8');
	background: palette('background', '9');
	border-radius: 3px;
	padding: 4px;
	display: flex;
	align-items: center;

	transition: 0.5s all;

	&:hover
	{
		background: palette('magenta', '-1');
		border: 1px solid palette('magenta');
		color: white;

		transition: 0.5s all;
	}

	&.dark
	{
		border: 1px solid palette('foreground', '2');
		background: palette('foreground', '1');
		color: white;

		&:hover
		{
			background: palette('teal', '-2');
			border: 1px solid palette('teal', '-1');
			color: white;

			transition: 0.5s all;
		}
	}
}

.usertag-avatar
{
	image-rendering: pixelated;
	margin-right: 4px;
	max-width: 16px;
	max-height: 16px;
}

.usertag-nickname
{
	font-size: 12px;
}
