//main: ../_all.scss

.panel
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background: $panel-background;
    font-family: $panel-font-family;
    font-size: $panel-font-size;
    border-bottom: $panel-border-bottom;
    box-shadow: $panel-box-shadow;
    border-radius: 2px;
}

.panel-header
{
    display: flex;
    padding: 16px;
}

.panel-content
{
    display: flex;
    overflow: hidden;
    padding: 16px;
    border-top: 1px solid #EFF3F4;
    border-bottom: 1px solid #EFF3F4;
}

.panel-content.dim
{
    background: $panel-content-dim-background;
}

.panel-footer
{
    display: flex;
    justify-content: center;
    padding: 16px;
}
