//main: main.scss

*
{
    box-sizing: border-box;
    line-height: 1;
}

a
{
    text-decoration: none;
	color: palette('complement', 'dark');
}

pre
{
    margin: 0;
}

body
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $font-primary;
	color: palette('foreground');
	background: palette('background', 'light');
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
