//main: main.scss

*
{
    box-sizing: border-box;
    line-height: 1;
}

a
{
	color: inherit;
    text-decoration: none;
}

pre
{
    margin: 0;
}

body
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $font-primary;
	color: palette('foreground', '-4');
	background: palette('background', '7');
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

input, button, select
{
	font-family: $font-primary;
}

select
{
	outline: none;
	height: 32px;
	border-radius: 3px;
	border: 1px solid palette('foreground', '7');
	padding: 4px;
}

input[type=text], input[type=password], input[type=email], textarea
{
	outline: none;
	border-style: inset;
	border: 1px solid palette('background', '6');
	border-top: 2px solid palette('background', '3');
	border-radius: 3px;
	background: palette('background', '7');
	padding: 6px;
}

input[type=submit], button[type=submit]
{
	height: 32px;
	cursor: pointer;
	background: linear-gradient(to bottom, palette('teal', '-1'), palette('teal', '-2'));
	border: 1px solid palette('teal', '-3');
	border-radius: 3px;
	color: white;
	text-shadow: 1px 1px black;
	font-weight: bold;
	outline: none;

	transition: 0.5s all;

	&:hover
	{
		background: linear-gradient(to bottom, palette('teal', '-2'), palette('teal', '-3'));
		border: 1px solid palette('teal', '-4');

		transition: 0.5s all;
	}

	&.purple
	{
		background: linear-gradient(to bottom, palette('purple'), palette('purple', '-1'));
		border: 1px solid palette('purple', '-2');

		&:hover
		{
			background: linear-gradient(to bottom, palette('purple', '-1'), palette('purple', '-2'));
			border: 1px solid palette('purple', '-3');

			transition: 0.5s all;
		}
	}

	&.blue
	{
		background: linear-gradient(to bottom, palette('blue'), palette('blue', '-1'));
		border: 1px solid palette('blue', '-2');

		&:hover
		{
			background: linear-gradient(to bottom, palette('blue', '-1'), palette('blue', '-2'));
			border: 1px solid palette('blue', '-3');

			transition: 0.5s all;
		}
	}
}
