#submit
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > .panel
    {
        flex-grow: 1;
    }
}

#logo
{
    color: $logoColorFade2;
    font-family: $textFont3;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    background: -webkit-linear-gradient($logoColorFade1 30%, $logoColorFade2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#subheader
{
    position: sticky;
    top: 0;
    height: 60px;
    padding: 0 20vw;
    display: flex;
    align-items: center;
    line-height: 1;
    background: $subheaderBackground;
    color: $subheaderTextColor;
}

#search
{
    margin-left: auto;
    display: flex;

    #search-button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        background: $headerBackground;
        border-radius: 16px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    #search-input
    {
        display: flex;
        align-items: center;
        background: $headerBackground;
        border-radius: 16px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

        > input
        {
            color: inherit;
            outline: none;
            font-family: inherit;
            font-size: inherit;
            border: none;
            background: none;
            border-radius: 0;
            padding: 0;

            &::placeholder
            {
                color: inherit;
            }
        }
    }
}

.panel
{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 3px;
    box-shadow: 0 6px 8px rgba(102,119,136,0.03), 0 1px 2px rgba(102,119,136,0.3);

    & > .panel-division
    {
        padding: 16px;
        border-bottom: 1px solid #e2e6ea
    }

    & > .panel-division > :last-child
    {
        margin-bottom: 0
    }

    & > .panel-division.dim
    {
        background: #f1f3f5
    }
}
