#snippets-index-content
{
    display: flex;
    align-items: flex-start;
}

#snippets-index-list
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    > *
    {
        flex-grow: 1;
        width: calc(50% - 4px);
        margin-bottom: 8px;
    }

    > *:nth-of-type(2n)
    {
        margin-left: 8px;
    }
}

#snippets-index-side
{
    display: flex;
    flex-grow: 1;
    margin-left: 32px;
}

#snippets-create-content
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > .panel
    {
        flex-grow: 1;
    }
}

#logo
{
    font-family: $textFont3;
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    color: $colorLogo;
    text-shadow: 1px 1px 0px darken($colorLogo, 10%);
}

#subheader
{
    font-family: $textFont3;
    font-size: 14px;
    padding: 0 20vw 16px 20vw;
    display: flex;
    align-items: center;
    line-height: 1;
}

#breadcrumbs
{
    > span
    {
        background: $bgCrumb;
        border-radius: 3px;
        padding: 4px;
    }
}

#search
{
    font-family: $textFont1;
    font-size: 16px;
    margin-left: auto;
    display: flex;
}

#search-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: $bgSearch;
    color: $colorSearch;
    border-radius: 16px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#search-input
{
    display: flex;
    align-items: center;
    color: $colorBody;
    background: $bgSearch;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    > input
    {
        line-height: 1;
        color: inherit;
        outline: none;
        font-family: inherit;
        font-size: inherit;
        border: none;
        background: none;
        border-radius: 0;
        padding: 0;

        &::placeholder
        {
            color: inherit;
        }
    }
}

.panel
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: $bgPanel;
    border-radius: 3px;
    box-shadow: 0 2px 6px $shadowColorPanel;

    > .panel-division
    {
        padding: 16px;
        border-bottom: solid 1px $borderColorPanel;
    }

    > .panel-division:last-of-type
    {
        border-bottom: none;
    }

    > .panel-division > :last-child
    {
        margin-bottom: 0;
    }

    > .panel-division.dim
    {
        background: $bgPanelDim;
    }
}
