//main: main.scss

$numeric:
(
	margin, margin-top, margin-right, margin-bottom, margin-left,
	padding, padding-top, padding-right, padding-bottom, padding-left
);

$regular:
(
    align-content: (center, flex-start, flex-end, space-around, space-between, stretch),
	align-items: (center, flex-start, flex-end),
	align-self: (stretch),
	display: (flex),
	justify-content: (space-between),
	flex-direction: (column),
	flex-grow: (1),
	margin: (auto),
	margin-left: (auto),
	margin-top: (auto),
	margin-right: (auto),
	margin-bottom: (auto),
);

@for $i from 1 through 7
{
    @each $prop in $numeric
    {
        .#{$prop}\(#{pow(2, $i)}px\)
        {
            #{$prop}: #{pow(2, $i)}px;
        }
    }
}

@each $prop in $numeric
{
	.#{$prop}\(0\)
	{
		#{$prop}: 0;
	}
}

@for $i from 1 through 7
{
    @each $prop in $numeric
    {
        .#{$prop}\(-#{pow(2, $i)}px\)
        {
            #{$prop}: -#{pow(2, $i)}px;
        }
    }
}

@each $prop, $values in $regular
{
    @each $value in $values
    {
        .#{$prop}\(#{$value}\)
        {
            #{$prop}: #{$value};
        }
    }
}
