@import 'functions';
@import 'theme';
@import 'components/all';
@import 'properties/all';
@import 'vendor/all';

*
{
    box-sizing: border-box;
    line-height: 1;
}

body
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-family: $body-font-family;
    font-size: $body-font-size;
    color: $body-color;
    background: $body-background-color;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
}

pre
{
    margin: 0;
}

code
{
    font-family: $syntax-font-family;
	font-size: $syntax-font-size;
	font-weight: $syntax-font-weight;
    tab-size: 4;
    margin: 0;
}

#header
{
    position: sticky;
    top: 0;
    font-family: $header-font-family;
    display: flex;
    align-items: center;
    padding: 0 20vw;
    height: 48px;
    background: $header-background;
    align-items: center;
}

#logo
{
    display: flex;
    align-items: center;
    font-family: $logo-font-family;
    font-size: $logo-font-size;
    color: $logo-color;
}

#search
{
    flex-grow: 1;
    max-width: 256px;
    padding: 4px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-left: auto;
    background: $search-background;
    border: $search-border;
    transition: all 0.25s;

    &:hover
    {
        border: $search-hover-border;

        > #search-icon
        {
            color: $search-hover-icon-color;
        }
    }
}

#search-icon
{
    margin-right: 8px;
    font-size: $search-icon-font-size;
    color: $search-icon-color;
    transition: all 0.25s;
}

#search-input
{
    display: flex;
    flex-grow: 1;

    > input
    {
        flex-grow: 1;
        color: $search-input-color;
        outline: none;
        background: none;
        border: none;
    }
}

#nav
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: $nav-font-size;
    margin-left: 16px;

    > a:not(:first-of-type)
    {
        margin-left: 16px;
    }

    > a
    {
        color: $nav-icon-color;
        transition: all 0.25s;

        &:hover
        {
            color: $nav-icon-hover-color;
        }
    }
}

#main
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 0 20vw;
}

#footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    font-family: $footer-font-family;
    font-size: $footer-font-size;
    color: $footer-color;

    > a
    {
        color: inherit;
        transition: all 0.25s;
    }

    > a:hover
    {
        color: $footer-span-hover-color;
    }
}

#snippet-index
{
    flex-grow: 1;
    max-width: 100%;
    columns: 2;
    column-gap: 16px;
    align-items: flex-start;
    padding: 16px 0;

    > .snippet
    {
        flex-grow: 1;
        break-inside: avoid;
        margin-bottom: 16px;
    }
}

#snippet-create
{
    flex-grow: 1;
    display: flex;
    padding: 16px 0;

    > .panel
    {
        flex-grow: 1;
    }
}

.snippet-user
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	margin-left: auto;

	> img
	{
		background: #F4F8F9;
		margin-left: 4px;
		image-rendering: pixelated;
		width: 16px;
		height: 16px;
	}
}

.snippet-content
{
	max-height: 384px;
	overflow-y: auto;
}
