@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");
@import 'themes/_default';
@import 'elements';
@import 'generics';

*
{
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: $aColor;

    &:hover
    {
        color: lighten($aColor, 25%);
    }
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: $bodyBackground;
    color: $textColor;
    margin: 0;
    font-family: $textFont2;
    font-size: 16px;
}

header
{
    background: $headerBackground;
    display: flex;
    align-items: center;
    height: 120px;
    padding: 0 20vw;
}

nav
{
    color: $navTextColor;
    font-family: $textFont2;
    margin-left: auto;

    > a
    {
        display: inline-flex;
        color: $navTextColor;
        margin-left: 32px;
        transform: scale(1);
        transition: all 0.25s;

        > i
        {
            font-size: 24px;
        }

        > span
        {
            margin-left: 8px;
        }
    }

    > a:hover
    {
        color: lighten($navTextColor, 25%);
        transform: scale(1.5);
        transition: all 0.25s;
    }
}

main
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 32px 20vw;
}

footer
{
    height: 60px;
    padding: 0 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background: $footerBackground;
    color: $footerTextColor;
}

p
{
    white-space: pre-line;
    line-height: 1.75;
    margin: 0 0 16px 0;
}

fieldset
{
    border-radius: 3px;
    border: 1px solid $textDimColor;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form>*:not(:last-child)
{
    margin-bottom: 16px;
}

select, textarea, input[type="color"], input[type="text"], input[type="password"], input[type="url"], input[type="email"], input[type="tel"], input[type="search"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="datetime"], input[type="datetime-local"]
{
    align-self: stretch;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    background: transparent;
    border: 1px solid $textDimColor;
    color: $textColor;
    border-radius: 3px;
    padding: 8px;
    outline: none;
}

select::placeholder, textarea::placeholder, input[type="color"]::placeholder, input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="url"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder, input[type="search"]::placeholder, input[type="number"]::placeholder, input[type="date"]::placeholder, input[type="month"]::placeholder, input[type="week"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder
{
    color: #98a7b5;
}

select:focus, textarea:focus, input[type="color"]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="url"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus
{
    border: 1px solid $submitColor;
}

select:disabled, textarea:disabled, input[type="color"]:disabled, input[type="text"]:disabled, input[type="password"]:disabled, input[type="url"]:disabled, input[type="email"]:disabled, input[type="tel"]:disabled, input[type="search"]:disabled, input[type="number"]:disabled, input[type="date"]:disabled, input[type="month"]:disabled, input[type="week"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled
{
    color: $textColor;
    background: #f1f3f5;
}

input[type="radio"]
{
    display: none;
}

input[type="radio"]:hover, input[type="radio"]+label:hover:before
{
    color: saturate($submitColor, 25%);
}

input[type="radio"]+label
{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

input[type="radio"]+label:before
{
    color: $submitColor;
    font-size: 16px;
    font-family: "Font Awesome 5 Free";
    margin-right: 8px;
    text-decoration: inherit;
    content: "\f111";
    font-weight: 400;
}

input[type="radio"]:checked+label:before
{
    color: $submitColor;
    font-weight: 700;
}

input[type="radio"]:checked:hover, input[type="radio"]+label:hover:before
{
    color: saturate($submitColor, 25%);
}

input[type="radio"]:disabled+label:before
{
    color: $textDimColor;
}

input[type="radio"]:disabled:checked+label:before
{
    color: $textDimColor;
}

input[type="radio"]:disabled+label
{
    color: $textDimColor;
}

input[type="radio"]:disabled:checked+label
{
    color: $textDimColor;
}

input[type="checkbox"]
{
    display: none;
}

input[type="checkbox"]+label
{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

input[type="checkbox"]:hover, input[type="checkbox"]+label:hover:before
{
    color: saturate($submitColor, 25%);
}

input[type="checkbox"]+label:before
{
    color: $submitColor;
    font-size: 24px;
    font-family: "Font Awesome 5 Free";
    margin-right: 8px;
    text-decoration: inherit;
    content: "\f0c8"
}

input[type="checkbox"]:checked+label:before
{
    color: $submitColor;
    font-weight: 700;
    content: "\f14a"
}

input[type="checkbox"]:checked:hover, input[type="checkbox"]+label:hover:before
{
    color: saturate($submitColor, 25%);
}

input[type="checkbox"]:disabled+label
{
    color: $textDimColor;
}

input[type="checkbox"]:disabled+label:before
{
    color: $textDimColor;
    font-weight: 400;
    content: "\f0c8"
}

input[type="checkbox"]:disabled:checked+label
{
    color: $textDimColor;
}

input[type="checkbox"]:disabled:checked+label:before
{
    color: $textDimColor;
    font-weight: 700;
    content: "\f14a"
}

input[type=range]
{
    -webkit-appearance: none;
    appearance: none;
    background: $textDimColor;
    height: 8px;
    width: 100%
}

input[type=range]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: $submitColor;
    border-radius: 3px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover, input[type=range]::-webkit-slider-thumb:active
{
    background: saturate($submitColor, 25%);
}

input[type=range]:focus
{
    outline: none;
}

input[type="submit"], input[type="button"], input[type="reset"], button, button[type="reset"], button[type="button"], button[type="submit"]
{
    display: flex;
    flex-grow: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: $buttonTextColor;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    padding: 8px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

input[type="submit"], button[type="submit"]
{
    background: $submitColor;
}

input[type="submit"]:hover, button[type="submit"]:hover
{
    background: saturate($submitColor, 25%);
}

input[type="submit"]:disabled, button[type="submit"]:disabled
{
    color: #e6e6e6;
    background: #a14920;
}

input[type="button"]
{
    background: $buttonColor;
}

input[type="button"]:hover
{
    background: saturate($buttonColor, 25%);
}

button, button[type="button"]
{
    background: $textColor;
}

button:hover, button[type="button"]:hover
{
    background: darken($textColor, 5%);
}

input[type="button"]:disabled, button:disabled, button[type="button"]:disabled
{
    color: #e6e6e6;
    background: #414141;
}

input[type="reset"], button[type="reset"]
{
    background: #b23535;
}

input[type="reset"]:hover, button[type="reset"]:hover
{
    background: #cf1818;
}

input[type="reset"]:disabled, button[type="reset"]:disabled
{
    color: #e6e6e6;
    background: #8b2929;
}
