@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");
@import 'themes/_default';
@import 'elements';
@import 'generics';

*
{
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: $colorHyperlink;
    transition: all 0.25s;

    &:hover
    {
        color: $colorHyperLinkHover;
    }
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: $bgBody;
    color: $colorBody;
    margin: 0;
    font-family: $textFont3;
    font-size: 16px;
}

header
{
    display: flex;
    align-items: center;
    padding: 16px 20vw;
}

nav
{
    margin-left: auto;

    > a
    {
        display: inline-flex;
        margin-left: 32px;
        transform: scale(1);

        > i
        {
            font-size: 24px;
        }
    }

    > a:hover
    {
        transform: scale(1.5);
    }
}

main
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 20vw;
}

footer
{
    font-family: $textFont2;
    height: 60px;
    padding: 0 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: $colorFooter;
}

p
{
    white-space: pre-line;
    line-height: 1.75;
    margin: 0 0 16px 0;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form > *:not(:last-child)
{
    margin-bottom: 16px;
}

select, textarea, input[type="color"], input[type="text"], input[type="password"], input[type="url"], input[type="email"], input[type="tel"], input[type="search"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="datetime"], input[type="datetime-local"]
{
    align-self: stretch;
    font-size: 16px;
    font-family: $textFont2;
    background: $backgroundInput;
    border: 1px solid $borderColorAltInput;
    color: $colorInput;
    border-radius: 3px;
    padding: 8px;
    outline: none;
}

select
{
    color: $colorAltInput;
}

textarea, input[type="color"], input[type="text"], input[type="password"], input[type="url"], input[type="email"], input[type="tel"], input[type="search"]
{
    border-top: 2px solid $borderColorInput;
}

select::placeholder, textarea::placeholder, input[type="color"]::placeholder, input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="url"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder, input[type="search"]::placeholder, input[type="number"]::placeholder, input[type="date"]::placeholder, input[type="month"]::placeholder, input[type="week"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder
{
    color: $colorPlaceholderInput;
}

select:disabled, select:disabled::placeholder, textarea:disabled, textarea:disabled::placeholder,
input[type="color"]:disabled, input[type="color"]:disabled::placeholder,
input[type="text"]:disabled, input[type="text"]:disabled::placeholder,
input[type="password"]:disabled, input[type="password"]:disabled::placeholder,
input[type="url"]:disabled, input[type="url"]:disabled::placeholder,
input[type="email"]:disabled, input[type="email"]:disabled::placeholder,
input[type="tel"]:disabled, input[type="tel"]:disabled::placeholder,
input[type="search"]:disabled, input[type="search"]:disabled::placeholder,
input[type="number"]:disabled, input[type="number"]:disabled::placeholder,
input[type="date"]:disabled, input[type="date"]:disabled::placeholder,
input[type="month"]:disabled, input[type="month"]:disabled::placeholder,
input[type="week"]:disabled, input[type="week"]:disabled::placeholder,
input[type="datetime"]:disabled, input[type="datetime"]:disabled::placeholder,
input[type="datetime-local"]:disabled
{
    color: $colorDisabledInput;
    border: none;
    background: $backgroundDisabledInput;
}

input[type="radio"]
{
    display: none;
}

input[type="radio"]:hover, input[type="radio"]+label:hover:before
{
    color: saturate($colorRadio, 25%);
}

input[type="radio"]+label
{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

input[type="radio"]+label:before
{
    color: $colorRadio;
    font-size: 16px;
    font-family: "Font Awesome 5 Free";
    margin-right: 8px;
    text-decoration: inherit;
    content: "\f111";
    font-weight: 400;
}

input[type="radio"]:checked+label:before
{
    color: $colorRadio;
    font-weight: 700;
}

input[type="radio"]:checked:hover, input[type="radio"]+label:hover:before
{
    color: saturate($colorRadio, 25%);
}

input[type="radio"]:disabled+label:before
{
    color: $colorDisabledRadio;
}

input[type="radio"]:disabled:checked+label:before
{
    color: $colorDisabledRadio;
}

input[type="radio"]:disabled+label
{
    color: $colorDisabledRadio;
}

input[type="radio"]:disabled:checked+label
{
    color: $colorDisabledRadio;
}

input[type="checkbox"]
{
    display: none;
}

input[type="checkbox"]+label
{
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

input[type="checkbox"]:hover, input[type="checkbox"]+label:hover:before
{
    color: saturate($colorCheckbox, 25%);
}

input[type="checkbox"]+label:before
{
    color: $colorCheckbox;
    font-size: 24px;
    font-family: "Font Awesome 5 Free";
    margin-right: 8px;
    text-decoration: inherit;
    content: "\f0c8"
}

input[type="checkbox"]:checked+label:before
{
    color: $colorCheckbox;
    font-weight: 700;
    content: "\f14a"
}

input[type="checkbox"]:checked:hover, input[type="checkbox"]+label:hover:before
{
    color: saturate($colorCheckbox, 25%);
}

input[type="checkbox"]:disabled+label
{
    color: $colorDisabledRadio;
}

input[type="checkbox"]:disabled+label:before
{
    color: $colorDisabledRadio;
    font-weight: 400;
    content: "\f0c8"
}

input[type="checkbox"]:disabled:checked+label
{
    color: $colorDisabledRadio;
}

input[type="checkbox"]:disabled:checked+label:before
{
    color: $colorDisabledRadio;
    font-weight: 700;
    content: "\f14a"
}

input[type=range]
{
    -webkit-appearance: none;
    appearance: none;
    background: $bgRange;
    height: 8px;
    width: 100%
}

input[type=range]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: $bgThumbRange;
    border-radius: 3px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover, input[type=range]::-webkit-slider-thumb:active
{
    background: saturate($bgThumbRange, 25%);
}

input[type=range]:focus
{
    outline: none;
}

input[type="submit"], input[type="button"], input[type="reset"], button, button[type="reset"], button[type="button"], button[type="submit"]
{
    display: flex;
    flex-grow: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: $colorButtons;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    padding: 8px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

input[type="submit"], button[type="submit"]
{
    background: $bgSubmitButton;
}

input[type="submit"]:hover, button[type="submit"]:hover
{
    background: saturate($bgSubmitButton, 25%);
}

input[type="button"], button, button[type="button"]
{
    background: $bgButton;
}

input[type="button"]:hover, button:hover, button[type="button"]:hover
{
    background: lighten($bgButton, 10%);
}

input[type="button"]:disabled, input[type="submit"]:disabled, button:disabled, button[type="button"]:disabled
{
    background: lighten($bgButton, 10%);
}

input[type="reset"], button[type="reset"]
{
    background: $bgResetButton;
}

input[type="reset"]:hover, button[type="reset"]:hover
{
    background: saturate($bgResetButton, 25%);
}

input[type="reset"]:disabled, button[type="reset"]:disabled
{
    background: lighten($bgResetButton, 10%);
}
