@import '_functions';
@import '_variables';
@import '_palette';
@import '_defaults';
@import '_generics';
@import 'components/all';
@import 'vendor/all';

#content
{
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 96px);
}

#snippet-index-content-wrapper
{
	columns: 2;
	column-gap: 16px;
	padding: 16px 20vw 0 20vw;

	> *
	{
		margin-bottom: 16px;
	}
}

.snippet-code
{
	max-height: 445px;
}

#snippet-create-content-wrapper
{
	display: flex;
	flex-grow: 1;
	padding: 16px 20vw 0 20vw;
}

#snippet-show-content-wrapper
{
	display: grid;
	flex-grow: 1;
	columns: 4;
	align-items: start;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	padding: 16px 20vw 0 20vw;
}

#snippet-view-panel
{
	grid-column-start: 1;
	grid-column-end: 4;
	align-self: stretch;
}

#snippet-comment-container
{
	grid-column-start: 1;
	grid-column-end: 4;

	> .panel-section
	{
		padding: 0;
	}

	> .panel-footer
	{
		padding: 8px;
	}
}

.snippet-comment
{
	display: flex;
	padding: 8px;
	border-bottom: 1px solid palette('background', '6');
	font-size: 12px;

	&:last-child
	{
		border-bottom: none;
	}
}

#snippet-toolbar-copy-button:hover
{
	background: palette('purple', '-1');
	border: 1px solid palette('purple');
	color: white;

	transition: 0.5s all;
}

#snippet-toolbar-share-button:hover
{
	background: palette('purple', '-1');
	border: 1px solid palette('purple');
	color: white;

	transition: 0.5s all;
}

#snippet-toolbar-save-button:hover
{
	background: palette('purple', '-1');
	border: 1px solid palette('purple');
	color: white;

	transition: 0.5s all;
}

#user-index-content-wrapper
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 16px 20vw 0 20vw;
}
