@import '_functions';
@import '_variables';
@import '_palette';
@import '_defaults';
@import '_generics';
@import 'components/all';
@import 'vendor/all';

#content
{
	display: flex;
	flex-direction: column;
	height: calc(100vh - 48px);
	overflow-y: scroll;
	padding: 16px 20vw 0 20vw;
}

#api-index-content-wrapper
{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

#search-content-wrapper
{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

#snippet-index-content-wrapper
{
	display: flex;
	flex-direction: column;
}

#snippet-index-content-wrapper-compact
{
	display: none;
	flex-direction: column;
}

#snippet-index-compact-pane
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;

	.snippet-code
	{
		padding: 0;
	}

	.hljs
	{
		overflow-y: hidden;
	}

	pre
	{
		overflow-y: hidden;
		overflow-x: auto;
	}

	code
	{
		max-height: 100%;
		padding: 16px;
	}

	> .panel:not(:last-of-type)
	{
		margin-bottom: 16px;
	}

	> .panel:last-of-type
	{
		margin-bottom: 8px;
	}
}

#snippet-index-panes
{
	display: flex;
}

#snippet-index-left-pane
{
	display: flex;
	flex-direction: column;
	margin-right: 16px;
	width: calc(50% - 8px);

	> .panel:not(:last-of-type)
	{
		margin-bottom: 16px;
	}

	> .panel:last-of-type
	{
		margin-bottom: 8px;
	}
}

#snippet-index-right-pane
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: calc(50% - 8px);

	> .panel:not(:last-of-type)
	{
		margin-bottom: 16px;
	}

	> .panel:last-of-type
	{
		margin-bottom: 8px;
	}
}

.snippet-code
{
	max-height: 445px;
	overflow: hidden;
}

#snippet-create-content-wrapper
{
	display: flex;
	flex-grow: 1;
}

#snippet-edit-content-wrapper
{
	display: flex;
	flex-grow: 1;
}

#snippet-show-content-wrapper
{
	display: grid;
	flex-grow: 1;
	columns: 4;
	align-items: start;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 16px;
	grid-row-gap: 16px;

	.snippet-code
	{
		max-height: none;
	}
}

.rating-thumbs
{
	color: palette('foreground', '6');
}

.rating-thumbs[checked]
{
	color: inherit;
}

#snippet-comment-container
{
	grid-column-start: 1;
	grid-column-end: 4;

	> .panel-section
	{
		padding: 0;
	}

	> .panel-footer
	{
		padding: 8px;
	}
}

.snippet-comment
{
	display: flex;
	padding: 8px;
	border-bottom: 1px solid palette('background', '6');
	font-size: 12px;

	&:last-child
	{
		border-bottom: none;
	}
}

#snippet-toolbar-copy-button:hover
{
	background: palette('purple', '-1');
	border: 1px solid palette('purple');
	color: white;

	transition: 0.5s all;
}

#snippet-toolbar-share-button:hover
{
	background: palette('purple', '-1');
	border: 1px solid palette('purple');
	color: white;

	transition: 0.5s all;
}

#snippet-toolbar-save-button:hover
{
	background: palette('purple', '-1');
	border: 1px solid palette('purple');
	color: white;

	transition: 0.5s all;
}

#snippet-toolbar-edit-button:hover
{
	background: palette('purple', '-1');
	border: 1px solid palette('purple');
	color: white;

	transition: 0.5s all;
}

#user-index-content-wrapper
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
}

#user-edit-content-wrapper
{
	display: grid;
	columns: 4;
	align-items: start;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}

#user-edit-avatar
{
	image-rendering: pixelated;
	max-width: 16px;
	max-height: 16px;
}

#user-show-avatar
{
	image-rendering: pixelated;
	max-width: 16px;
	max-height: 16px;
}

#user-show-content-wrapper
{
	display: grid;
	columns: 4;
	align-items: start;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
}

#locale-list
{
	color: palette('teal');
	display: flex;
	display: none;
	background: palette('foreground');
	border-radius: 3px;

	> a:not(:first-child)
	{
		margin-left: 8px;
	}
}

.user-sign-panel
{
	max-width: 384px;
	margin: 8px;
}

.alert
{
	display: flex;

	> p
	{
		margin: 0;
		padding: 16px;
	}

	&.error
	{
		color: palette('error', '2');
		background: palette('error', '-1');
	}

	&.success
	{
		color: palette('success', '2');
		background: palette('success', '-1');
	}

	&.info
	{
		color: palette('info', '2');
		background: palette('info', '-1');
	}

	&.warning
	{
		color: black;
		background: palette('warning', '-1');
	}
}

.alert-icon
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;

	&.error
	{
		color: palette('error', '2');
		background: palette('error');
	}

	&.success
	{
		color: palette('success', '2');
		background: palette('success');
	}

	&.info
	{
		color: palette('info', '2');
		background: palette('info');
	}

	&.warning
	{
		color: black;
		background: palette('warning');
	}
}

.alert-close
{
	cursor: pointer;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;
}

@import '_media';
