//main: core.scss

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,700|Raleway:200,300,400,700');
@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");

$body-font-family: Georgia, Cambria, serif;
$body-color: #303333;
$body-background-color: #EDF1F4;
$header-font-family: 'Poppins', sans-serif;
$header-background: #303338;
$logo-font-family: 'Raleway', sans-serif;
$logo-font-size: 24px;
$logo-color: #3FDFFF;
$nav-font-size: 16px;
$nav-icon-color: #5C626B;
$nav-icon-hover-color: #FF8F3F;
$footer-background: #303338;
$search-hover-icon-color: #FF8F3F;
$search-hover-border: 1px solid #FF8F3F;
$search-background: #393C42;
$search-icon-color: #5C626B;
$search-icon-font-size: 16px;
$search-border: 1px solid #4A4F56;
