@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Poppins:200,300,400,700');

$textColor: rgb(90, 90, 90);
$textDimColor: rgb(196, 205, 213);
$textFont: 'Lato', sans-serif;
$textFont2: 'Poppins', sans-serif;
$textFont3: 'Raleway', sans-serif;

$logoColorFade1: rgb(0, 255, 169);
$logoColorFade2: rgb(0, 153, 101);

$aColor: rgb(204, 92, 40);

$buttonColor: rgb(204, 92, 40);
$buttonTextColor: white;

$focusOutlineColor: rgb(35, 178, 130);

$submitColor: rgb(35, 178, 130);

$navTextColor: rgb(0, 204, 135);

$bodyBackground: rgb(241, 243, 245);
$headerBackground: rgb(36, 38, 37);

$footerBackground: rgb(48, 51, 50);
$footerTextColor: rgb(131, 140, 137);

$footerstatsheaderTextColor: rgb(131, 140, 137);

$subheaderBackground: rgb(48, 51, 50);
$subheaderTextColor: rgb(131, 140, 137);
