@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Poppins:200,300,400,700');

//-20 to brightness/saturation when on white background
$textFont1: 'Lato', sans-serif; //Detail text
$textFont2: 'Poppins', sans-serif; //Highlighted elements
$textFont3: 'Raleway', sans-serif; //Plain text

$colorLogo: #00E5C6;

$bgBody: #EDF1F4;
$colorBody: #000000;

$colorFooter: #99B0C6;

$bgSearch: #DEE8EF;
$colorSearch: #99B0C6;

$bgCrumb: #CCDAE5;

$colorHyperlink: #F44900;
$colorHyperLinkHover: #00E5C6;

$bgPanel: #F9F9F9;
$bgPanelDim: #E8EEF4;
$bgPanelWarning: #F2CDCD;
$bgPanelAttention: #F2F2CD;
$bgPanelInfo: #CDE6F2;
$bgPanelSuccess: #CDF2CD;
$bgPanelNote: #D6CDF2;
$borderColorPanel: #E8EEF4;
$shadowColorPanel: #CCD8E5;

$colorInput: #000000;
$colorAltInput: #70879E;
$colorPlaceholderInput: #9CACBC;
$colorDisabledInput: #9CACBC;
$backgroundInput: #EDF3F9;
$backgroundDisabledInput: #EDF3F9;
$borderColorInput: #C2D5E8;
$borderColorAltInput: #D2E3F4;

$colorRadio: #DB571E;
$colorDisabledRadio: #9CACBC;

$colorCheckbox: #DB571E;
$colorDisabledRadio: #9CACBC;

$bgRange: #9CACBC;
$bgThumbRange: #DB571E;

$colorButtons: #F9F9F9;

$bgSubmitButton: #DB571E;

$bgButton: #303030;

$bgResetButton: #DB1E1E;
