//main:../core.scss

.m-a
{
    margin: auto;
}

.mt-a
{
    margin-top: auto;
}

.mr-a
{
    margin-right: auto;
}

.mb-a
{
    margin-bottom: auto;
}

.ml-a
{
    margin-left: auto;
}

@for $i from 1 through 7
{
    .m-#{pow(2, $i)}
    {
        margin: #{pow(2, $i)}px;
    }

    .mt-#{pow(2, $i)}
    {
        margin-top: #{pow(2, $i)}px;
    }

    .mr-#{pow(2, $i)}
    {
        margin-right: #{pow(2, $i)}px;
    }

    .mb-#{pow(2, $i)}
    {
        margin-bottom: #{pow(2, $i)}px;
    }

    .ml-#{pow(2, $i)}
    {
        margin-left: #{pow(2, $i)}px;
    }

    .mv-#{pow(2, $i)}
    {
        margin-left: #{pow(2, $i)}px;
        margin-right: #{pow(2, $i)}px;
    }

    .mh-#{pow(2, $i)}
    {
        margin-top: #{pow(2, $i)}px;
        margin-bottom: #{pow(2, $i)}px;
    }
}
